<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iammusli.mymusicapp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mylauncher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mylauncher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyMusicApp">

        <activity
            android:name=".SongActivity"
            android:label="@string/title_activity_song"></activity>
        <activity
            android:name=".AlbumActivity"
            android:screenOrientation="sensor"></activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>